[data-selected="false"] {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}
[data-disabled="true"] {
  background-color: #f2f2f2;
  border-color: #adadad;
  color: #adadad;
  opacity: 0.5;
}

.grid-out {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: var(--l);
}

/* .css */
* {
  font-family: "Gill Sans", sans-serif;
}

.grid-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: var(--l);
  gap: 10px;
}

.child-class {
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #292a3922;
}

.overlay-class {
  backdrop-filter: blur(1px);
  background-color: #76798255;
}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #adadad;
  background-color: #fafafa;
  box-shadow: 0 0 10px #292a3922;
  outline: none;
}

.text-light {
  color: #614f77;
}

.text-red {
  color: #dd3643;
  font-size: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wrap {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  max-width: 400px;
  gap: 10px;
 }

.button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.selecte-btn{
  padding: 4px 10px;
  box-shadow: 0 0 10px #292a3933;
  background-color: #fff;
  color: #292a39;
  cursor: pointer;
}
.selected{
  background-color: #501696;
  color: #fff;
}

.container {
  background-color: #9487c0;
  gap: 10px;
  padding: 10px;
  gap: 10px;
  padding: 10px;
}

.bg{
  background-color: #e3d2f8;
}

.round {
  border-radius: 10px;
  box-shadow: 0 0 10px #292a3933;
}

.center{
  align-items: center;
  justify-content: center;
}

.m-auto{
  margin: auto;
}
